<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>{{title}}</title>
</head>

<body>

  <!-- HEADER -->
  <header class="section-header">
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/location.png" alt="location" />
      </div>
      <div class="section-header_block__text">
        Пр-кт Карла-Маркса, 22
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/clock.png" alt="clock">
      </div>
      <div class="section-header_block__text">
        пн-чт с 9-00 до 18-00
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/mail.png" alt="mail">
      </div>
      <div class="section-header_block__text">
        partner2008@partner.ru
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/call.png" alt="call">
      </div>
      <div class="section-header_block__text">
        8 (86365)7-47-06
      </div>
    </div>
  </header>

  <!-- MAIN -->

  <main>

    <!-- SECTION__NAV -->

    <section class="section__nav">
      <div class="section_inner">
        <ul class="section__nav-nav">
          <li><a href="/">Главная</a></li>
          <li><a href="/api/aboutUs">О нас</a></li>
          <li><a href="/api/ourServices">Наши услуги</a></li>
          <li><a href="/api/news">Новости</a></li>
          <li><a href="/api/user/login">Личный кабинет</a></li>
        </ul>
        </nav>
      </div>
    </section>
    <section class="section-aboutus">
      <div class="section-aboutus-wrapper">
        <div class="section-aboutus__text">
          Организация ООО ЦИППН «Партнер» создана 14.05.2008 г.
        </div>
        <div class="section-aboutus__text">
          Офис нашей фирмы находится в центре города Каменск-Шахтинский по адресу проспект Карла-Маркса,
          22. В шаговой доступности от Межрайонной ИФНС России №21 по Ростовской области.
        </div>
        <div class="section-aboutus__text">
          График работы нашего офиса: пн-чт с 9-00 до 18-00, пт. с 9-00 до 17-00,
          перерыв с 13-00 до 14-00, сб. с 9-00 до 12-00 в отчетный период.
        </div>
        <div class="section-aboutus__text">
          Преимущества работы с ООО ЦИППН "Партнер":
        </div>
        <div class="section-aboutus__text">
          Работники ООО ЦИППН «Партнер» высоко - квалифицированные специалисты, что позволяет обеспечить
          высокий уровень обслуживания, грамотный подход к каждому клиенту. Специалисты имеют большой
          опыт работы в сфере бухгалтерского и налогового учета. Кроме того, работники нашей
          организации всегда приветливы и вежливы!
        </div>
        <div class="section-aboutus__text">
          Работая с «Партнером» вы всегда будете информированы о последних изменениях в
          законодательстве. Наши специалисты помогут разобраться каждому обратившемуся по
          вопросам отчетности: сроках сдачи, прядке и месте подачи отчетов
        </div>
        <div class="section-aboutus__text">
          Мы постоянно совершенствуемся, повышаем уровень нашего профессионализма, начиная с
          исследования последних новшеств в законодательстве заканчивая изучением таких
          направлений как электронные торги, помогая клиентам принять участие в них и
          сопроводить до самого подписания контракта. Так же специалисты консультируют вновь
          созданных юридических лиц или начинающих деятельность индивидуальных предпринимателей,
          бесплатно подбирая оптимальную систему налогообложения!
        </div>
        <div class="section-aboutus__text">
          При заключении договора на абонентское обслуживание ООО ЦИППН «Партнер» несет
          ответственность за правильность и своевременность ведения бухгалтерского и налогового
          учета во время действия договора, несет материальную ответственность за правильность
          отражения финансово-хозяйственных операций в учете, а также за своевременную сдачу
          бухгалтерской и налоговой отчетности, конфиденциальность. Весь объем информации,
          переданной и передаваемой сторонами друг другу при заключении договора и в ходе
          исполнения обязательств, возникающих из договора, считается конфиденциальной информацией
          (а в пределах, допускаемых действующим законодательством – коммерческой тайной) другой
          стороны. Наши специалисты взаимозаменяемы – то есть в любое время и любой день Вас готовы
          проконсультировать, оформить необходимые документы, дать нужную информацию.
        </div>
        <div class="section-aboutus__text">
          Индивидуальный подход к каждому клиенту позволяет оптимально подойти к установлению цены за
          наши услуги!
        </div>
        <div class="section-aboutus__text">
          Работать с нами удобно и выгодно! Будем рады сотрудничеству с Вами!
        </div>
      </div>
    </section>

  </main>

  <!-- FOOTER -->
  <footer class="section__footer">
    <div class="section-inner">
      <div class="section__footer-wrapper">
        <div class="section__footer-content">
          <div class="section__footer-content-first">
            © 2020. ООО ЦИППН "ПАРТЕР". Все права защищены. <br />
            Копирование и распространение только с разрешения кампании
          </div>
          <div class="section__footer-content-second">
            Пр-кт Карла-Маркса, 22, г. Каменск-Шахтинский, Ростовская область,
            тел.: 8 (86365) 7-47-06
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>