<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>Партнер</title>
</head>

<body>

  <!-- HEADER -->
  <header class="section-header">
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="img/location.png" alt="location" />
      </div>
      <div class="section-header_block__text">
        Пр-кт Карла-Маркса, 22
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="img/clock.png" alt="clock">
      </div>
      <div class="section-header_block__text">
        пн-чт с 9-00 до 18-00
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="img/mail.png" alt="mail">
      </div>
      <div class="section-header_block__text">
        partner2008@partner.ru
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="img/call.png" alt="call">
      </div>
      <div class="section-header_block__text">
        8 (86365)7-47-06
      </div>
    </div>
  </header>

  <!-- MAIN -->

  <main>

    <!-- SECTION__NAV -->

    <section class="section__nav">
      <div class="section_inner">
        <ul class="section__nav-nav">
          <li><a href="/">Главная</a></li>
          <li><a href="/api/aboutus">О нас</a></li>
          <li><a href="/api/ourServices">Наши услуги</a></li>
          <li><a href="/api/news">Новости</a></li>
          <li><a href="/api/user/login">Личный кабинет</a></li>
        </ul>
        </nav>
      </div>
    </section>

    <!-- SECTION__ORDER -->

    <section class="section__order">
      <div class="section-inner">
        <div class="section__order-content">
          <div class="section__order-wrapper">
            <div class="section__order-wrapper-title">ООО ЦИППН “Партнер”</div>
            <div class="section__order-wrapper-subtitle">
              Есть тысячи причин обращаться к консультантам, но есть и тысячи
              различных консультантов. Важен выбор.
            </div>
            <div class="section__order-wrapper-info">
              <div class="section__order-wrapper-info__text">
                Безналичный расчет (оплата картой)
              </div>
              <div class="section__order-wrapper-info__text">
                Оформление документов не выходя из дома
              </div>
              <div class="section__order-wrapper-flip">
                <a href="/api/user/register">
                  <div class="front">Оформить</div>
                  <div class="back">Оформить</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION__US-->

    <section class="section__US">
      <div class="section-inner">
        <div class="section__US-title">Почему стоит выбирать нас?</div>
        <div class="section-inner-wrapper">
          <div class="description-item">
            <div class="description-item__icon">
              <img src="img/head.png" alt="head" />
            </div>
            <div class="description-item__text">
              Квалифицированные специалисты
            </div>
          </div>
          <div class="description-item">
            <div class="description-item__icon">
              <img src="img/document.png" alt="document" />
            </div>
            <div class="description-item__text">
              Предоставляем консультации по ведению бухгалтерского учета и налогообложения
            </div>
          </div>
          <div class="description-item">
            <div class="description-item__icon">
              <img src="img/guard.png" alt="guard" />
            </div>
            <div class="description-item__text">
              Более десяти лет предосталвяем бухгалтерские и финансовые услуги
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer class="section__footer">
    <div class="section-inner">
      <div class="section__footer-wrapper">
        <div class="section__footer-content">
          <div class="section__footer-content-first">
            © 2020. ООО ЦИППН "ПАРТЕР". Все права защищены. <br />
            Копирование и распространение только с разрешения кампании
          </div>
          <div class="section__footer-content-second">
            Пр-кт Карла-Маркса, 22, г. Каменск-Шахтинский, Ростовская область,
            тел.: 8 (86365) 7-47-06
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>