<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>Партнер</title>
</head>

<body>

  <!-- HEADER -->
  <header class="section-header">
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/location.png" alt="location" />
      </div>
      <div class="section-header_block__text">
        Пр-кт Карла-Маркса, 22
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/clock.png" alt="clock">
      </div>
      <div class="section-header_block__text">
        пн-чт с 9-00 до 18-00
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/mail.png" alt="mail">
      </div>
      <div class="section-header_block__text">
        partner2008@partner.ru
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/call.png" alt="call">
      </div>
      <div class="section-header_block__text">
        8 (86365)7-47-06
      </div>
    </div>
  </header>

  <!-- MAIN -->

  <main>

    <!-- SECTION__NAV -->

    <section class="section__nav">
      <div class="section_inner">
        <ul class="section__nav-nav">
          <li><a href="/">Главная</a></li>
          <li><a href="/api/aboutUs">О нас</a></li>
          <li><a href="/api/ourServices">Наши услуги</a></li>
          <li><a href="/api/news">Новости</a></li>
          <li><a href="/api/user/login">Личный кабинет</a></li>
        </ul>
        </nav>
      </div>
    </section>
    <section class="section-news"
      style="max-width: 1180px; margin: 0 auto; text-align: center; padding-top: 15%; font-size: 30px; font-weight: bold;">
      Благодаря информации на сайте ООО ЦИППН "Партнер" о новостях и событиях в бухгалтерском
      учете, а так же изменениях в ее в отношении налогового учета, Вы будете всегда держать
      руку на пульсе изменений в законодательстве РФ.
    </section>

  </main>

  <!-- FOOTER -->
  <footer class="section__footer">
    <div class="section-inner">
      <div class="section__footer-wrapper">
        <div class="section__footer-content">
          <div class="section__footer-content-first">
            © 2020. ООО ЦИППН "ПАРТЕР". Все права защищены. <br />
            Копирование и распространение только с разрешения кампании
          </div>
          <div class="section__footer-content-second">
            Пр-кт Карла-Маркса, 22, г. Каменск-Шахтинский, Ростовская область,
            тел.: 8 (86365) 7-47-06
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>