<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ВЕДЕНИЕ ЮРИДИЧЕСКИХ ЛИЦ И ИНДИВИДУАЛЬНЫХ ПРЕДПРИНИМАТЕЛЕЙ</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link referrerpolicy="stylesheet" href="/css/reset.css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- HEADER -->
  <header class="section-header">
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/location.png" alt="location" />
      </div>
      <div class="section-header_block__text">
        Пр-кт Карла-Маркса, 22
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/clock.png" alt="clock">
      </div>
      <div class="section-header_block__text">
        пн-чт с 9-00 до 18-00
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/mail.png" alt="mail">
      </div>
      <div class="section-header_block__text">
        partner2008@partner.ru
      </div>
    </div>
    <div class="section-header_block">
      <div class="section-header_block__icon">
        <img src="/img/call.png" alt="call">
      </div>
      <div class="section-header_block__text">
        8 (86365)7-47-06
      </div>
    </div>
  </header>
  <!-- SECTION__NAV -->

  <section class="section__nav">
    <div class="section_inner">
      <ul class="section__nav-nav">
        <li><a href="/">Главная</a></li>
        <li><a href="/api/aboutus">О нас</a></li>
        <li><a href="/api/ourServices">Наши услуги</a></li>
        <li><a href="/api/news">Новости</a></li>
        <li><a href="/api/user/login">Личный кабинет</a></li>
      </ul>
      </nav>
    </div>
  </section>
  <div class="content">
    <div class="conteiner">
      <div class="content_text">
        <p>
          Одно из основных направлений деятельности фирмы «Партнер» - ведение
          бухгалтерского учета. Мы готовы предоставить ряд услуг, связанных с
          бухгалтерским обслуживанием предприятий, компаний, ООО, ИП.</p>
        <p>Эти
          услуги в настоящее время весьма востребованы: зачастую ведение
          бухгалтерского учета ИП, ООО, фирм, предприятий при помощи
          профессиональной компании является для руководителей оптимальным
          выходом, избавляющим от разного рода финансовых ошибок.</p>
        <p>Выполняя
          бухгалтерское обслуживание, компания помогает правильно организовать
          налоговый учет, избежать налоговых проблем. Грамотно организованное
          ведение бухгалтерского учета предприятия позволяет вести его полную
          аналитику прибыли и убыточности.</p>
        <p>Услуги бухгалтерского аутсорсинга в
          «Партнере» включают:</p>
        <div class="content_1">
          <div class="conteiner_1">
            <div class="content_text_1">
              <i>
                <br>Оформление учетной документации по всем
                требованиям законодательства.</br>
                <br> Ежемесячное ведение учета
                бухгалтерской отчетности в специальной бухгалтерской программе.</br>
                <br>Составление отчетности – в статистику, фонд социального страхования
                и ПФ.</br>
                <br>Налоговые декларации и отчеты за отчетные и налоговые периоды.</br>
              </i>
            </div>
          </div>
        </div>
        <p>
          Исходя из потребностей организации-заказчика, бухгалтерское
          сопровождение оказывается в меньшем либо большем объеме. Это
          предусматривается договором на обслуживание, где перечень услуг
          излагается самым подробным образом.
        </p>
        <div class="content_tabl">
          <div class="conteiner_tabl">
            <div class="content_tabl1">
              <img src="/img/tablica.jpg" alt="price">
            </div>
          </div>
        </div>

        <p>
          Стоимость ведения бухгалтерской и налоговой отчетности определяется на основании того количества документов,
          которые нужно будет подготовить и обработать.
          Поэтому сложно сразу сказать цену на данную услугу, она рассчитывается индивидуально в каждом случае отдельно,
          а после фиксируется в договоре.
          В то же время на нашем сайте есть базовый перечень цен на бухгалтерские услуги, на которые мы опираемся при
          расчете окончательной стоимости услуг.
        </p>

        <P>Правила ведения бухгалтерского учета устанавливают, что комплексное бухгалтерское сопровождение должно
          включать в себя следующие блоки:</P>
        <div class="content_1">
          <div class="conteiner_1">
            <div class="content_text_1">
              <i>
                <br>1. Подготовка первичных документов для ведения бухгалтерского учета;</br>
                <br>2. Расчет заработной платы;</br>
                <br>3. Кадровое делопроизводство;</br>
                <br>4. Услуги по организации ведения бухгалтерского учета, налогового учета, подготовка и сдача
                необходимых документов;</br>
                <br>5. Подготовка персонифицированного учета;</br>
                <br>6. Услуги консультантов;</br>
                <br>7. Подготовка 2-НДФЛ. </br>
              </i>
            </div>
          </div>
        </div>
        <p>Стоимость такой услуги, как ведение комплексного бухгалтерского учета, рассчитывается путем суммирования
          цен каждого блокаПри этом мы в индивидуальном порядке рассматриваем случаи наших клиентов, поэтому итоговая
          стоимость может отличаться,
          в зависимости от сложности документооборота фирмы, и прочих ее особенностей.
        </p>
        <p> Каждый специалист фирмы «Партнер» не только в совершенстве знает положение по ведению бухгалтерского учета,
          но и имеет внушительную практику, полученную путем кропотливого труда.
          При этом вам не придется платить за время, которое мы потратим на ведение налогового учета и бухгалтерского
          учета вашей организации,
          так как свои цены мы привязали непосредственно к объему работы – количеству документации, сотрудников и так
          далее.
        </p>
        <p>Мы соблюдаем все правила ведения бухгалтерской отчетности, следим за их регулярным обновлением. Заказывая у
          нас комплексное бухгалтерское сопровождение,
          вы можете быть уверены в соответствии бухгалтерского сопровождения современному законодательству, которое мы
          уверены необходимы вашей современной
          развивающейся компании.
        </p>
        <p>Положение по ведению бухгалтерского учета позволяет нам предоставлять и отдельные блоки бухгалтерского
          обслуживания предприятий, к примеру, подготовку
          первичной документации.
          Цена в данном случае зависит от количества необходимых бумаг.
        </p>
        <p>Кроме того, в нашу фирму вы можете обратиться и с целью подготовки других документов, сроки и стоимость
          работ, в таком случае, будут рассчитываться индивидуально,
          исходя из конкретных потребностей, согласно базового прайс-листа фирмы.
        </p>
        <strong>Мы всегда с Вами – Ваш ООО ЦИППН «Партнер»!</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="section__footer">
    <div class="section-inner">
      <div class="section__footer-wrapper">
        <div class="section__footer-content">
          <div class="section__footer-content-first">
            © 2020. ООО ЦИППН "ПАРТЕР". Все права защищены. <br />
            Копирование и распространение только с разрешения кампании
          </div>
          <div class="section__footer-content-second">
            Пр-кт Карла-Маркса, 22, г. Каменск-Шахтинский, Ростовская область,
            тел.: 8 (86365) 7-47-06
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>